<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Register!</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/register']">Home</a>
        </li>
        <li><a [routerLink]="['/register/new']">Register</a></li>
        <li><a [routerLink]="['/register/login']">Login</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            About Us
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li >
              <a href="">Who we are</a>
            </li>
            <li >
              <a href="">Contact  Us</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a>Welcome! Sarath</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
